@media (max-width: 1080px) {
	.responsive-header {
		align-items: center;
		display: block;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 95%;
		margin: auto;
	}
	.fa-bars {
		display: block;
	}
	.logo-2 {
		display: block;
	}
	.logo {
		display: none;
	}
	.icon {
		display: block;
		font-size: 30px;
	}
	.section {
		width: 100%;
	}
	.nav {
		display: none;
	}
	.search {
		display: none;
	}
	.icon1 {
		display: none;
	}
	.text1 {
		padding-left: 82px;
	}
	.text3 {
		padding-left: 82px;
	}
	.box {
		display: none;
	}
	.box-1 {
		display: block;
		left: 0px;
	}
	.category-1 {
		display: block;
	}
}
@media (max-width: 780px) {
	.wraper {
		margin: auto;
	}
	.text2 {
		display: none;
	}
}
@media (max-width: 650px) {
	.text1 {
		display: none;
	}
	.text3 {
		display: none;
	}
	.email {
		width: 302px;
	}
	.password {
		width: 302px;
	}
	.form {
		width: 302px;
	}
	.section3 {
		display: block;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		background-color: #7353BA;
	}

	.section1 {
		display: none;
	}
	.section2 {
		display: none;
	}
	.title1 {
		display: block;
	}
	.name1 {
		display: block;
	}
	.info1 {
		display: block;
	}
	.read-more {
		display: block;
	}
	.section4 {
		display: block;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		background-color: #FAA6FF;
	}
	.title2 {
		display: block;
	}
	.name2 {
		display: block;
	}
	.info2 {
		display: block;
	}
	.read-more1 {
		display: block;
	}
	.img1 {
		display: block;
	}
	.section5 {
		display: block;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		background-color: #B5FFE9;
	}
}
@media (max-width: 625px) {
	.logo-2 {
		width: 205px;
		height: 25px;
	}
	.fa-bars {
		font-size: 24px;
	}
	.icon {
		font-size: 24px;
	}
}
@media (max-width: 505px) {
	.wraper-box {
		margin: auto;
	}
	.title5 {
		margin: auto;
	}
}