@media (max-width: 1080px) {
	.responsive-header {
		align-items: center;
		display: block;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 95%;
		margin: auto;
	}
	.fa-bars {
		display: block;
	}
	.logo-2 {
		display: block;
	}
	.logo {
		display: none;
	}
	.icon {
		display: block;
		font-size: 30px;
	}
	.section {
		width: 100%;
	}
	.nav {
		display: none;
	}
	.search {
		display: none;
	}
	.icon1 {
		display: none;
	}
	.text1 {
		padding-left: 82px;
	}
	.text3 {
		padding-left: 82px;
	}
	.box {
		left: 0px;
	}
}
@media (max-width: 760px) {

}