.header {
	display: flex;
}
.logo {
	margin-left: 149px;
}
.nav {
	display: flex;
}
.active {
	color: #2F195F;
	font-size: 25px;
	font-family: 'Myanmar Text', serif;
	margin-top: 32px;
}
.nav-a {
	margin-left: 22px;
	color: #80D39B;
	font-size: 25px;
	margin-top: 32px;
	font-family: 'Myanmar Text', serif;
}
.section {
	background-image: url('img/hollywood.jpg');
	width: 1110px;
	height: 616.39px;
	margin-left: 128px;
}
.text1 {
	padding-top: 60px;
	padding-left: 22px;
	font-size: 105px;
	font-weight: 700;
	color: #FFF8FF;
	font-family: 'Myanmar Text', serif;
}
.wraper-box {
	display: flex;
	margin-left: 129px;
	margin-right: 112px;
	justify-content: space-between;
}
.img {
	width: 262px;
	height: 370px;
}
.section1 {
	background-color: #FAA6FF;
}
.section2 {
	background-color: #B5FFE9;
}
.title {
	font-size: 67px;
	font-weight: 700;
	font-family: 'Myanmar Text', serif;
	margin-left: 129px;
	padding-top: 28px;
}
.name {
	font-size: 32px;
	font-weight: 400;
	font-family: 'Myanmar Text', serif;
	padding-top: 22px;
}
.wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer {
	background-color: #282429;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 129px;
	padding-right: 112px;
	padding-top: 34px;
	padding-bottom: 23px;
}
.text2 {
	color: #FFF8FF;
	font-size: 34px;
	font-family: 'Myanmar Text', serif;
}
.fa-facebook {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-twitter {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-youtube {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-instagram {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-pinterest-p {
	color: #FFF8FF;
	font-size: 28.04px;
}