.header {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 80%;
	align-items: center;
}
.nav {
	flex-wrap: wrap;
	width: 546px;
	display: flex;
	justify-content: space-between;
}
.active {
	color: #2F195F;
	font-size: 25px;
	font-family: 'Myanmar Text', serif;
}
.nav-a {
	color: #80D39B;
	font-size: 25px;
	font-family: 'Myanmar Text', serif;
}
.section {
	background-image: url('img/hollywood.jpg');
	background-repeat: no-repeat;
	width: 80%;
	height: 616.39px;
	margin: auto;
}
.text1 {
	padding-top: 60px;
	padding-left: 22px;
	font-size: 105px;
	font-weight: 700;
	color: #FFF8FF;
	font-family: 'Myanmar Text', serif;
}
.wraper-box {
	flex-wrap: wrap;
	display: flex;
	margin-left: 129px;
	margin-right: 112px;
	justify-content: space-between;
}
.img {
	width: 262px;
	height: 370px;
}
.section1 {
	background-color: #FAA6FF;
}
.section2 {
	background-color: #B5FFE9;
}
.title {
	font-size: 67px;
	font-weight: 700;
	font-family: 'Myanmar Text', serif;
	margin-left: 129px;
	padding-top: 28px;
}
.name {
	font-size: 32px;
	font-weight: 400;
	font-family: 'Myanmar Text', serif;
	padding-top: 22px;
}
.wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer {
	background-color: #282429;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 129px;
	padding-right: 112px;
	padding-top: 34px;
	padding-bottom: 23px;
}
.text2 {
	color: #FFF8FF;
	font-size: 34px;
	font-family: 'Myanmar Text', serif;
}
.fa-facebook {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-twitter {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-youtube {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-instagram {
	color: #FFF8FF;
	font-size: 28.04px;
}
.fa-pinterest-p {
	color: #FFF8FF;
	font-size: 28.04px;
}
.text3 {
	font-size: 13px;
	padding-left: 22px;
	font-weight: 400;
	color: #FFF8FF;
	font-family: 'Myanmar Text', serif;
}
.info {
	width: 262px;
	height: 370px;
	background-color: #000000;
	color: #FFF8FF;
	position: absolute;
	text-transform: capitalize;
	z-index: 2;
	opacity: 0%;
	font-size: 20px;
	font-family: 'Myanmar Text', serif;
}
.info:hover {
	opacity: 60%;
}
.search {
	width: 238px;
	height: 34px;
	background-color: #E9E8E9;
	border-color: #FFFFFF;
}
::placeholder {
	color: #7353BA;
	font-family: 'Myanmar Text', serif;
	font-weight: 400;
}
.fa-search {
	width: 30px;
	height: 30px;
	color: #7353BA;
}